/*==========  Desktop First Method  ==========*/
@media only screen and (max-height : 760px) {
.sidebar_articles .item-article {
    padding-top: 15px;
    padding-bottom: 20px;
}
.sidebar_articles  .item-article__text {
    margin-bottom: 10px;
}
}
@media only screen and (max-width : 1565px) {
.slider-billbord .slick-next {
    left: 515px;
}
.slider-billbord .slick-dots {
    left: -96px;
}
.title-billbord strong {
    font-size: 28px;
}
.item-billbord p {
    font-size: 13px;
    margin-bottom: 23px;
    }
}
@media only screen and (max-width : 1480px) {
.row_billbord > div {
    margin-top: 19px;
}
.item-billbord p {
	margin-bottom: 15px;
}
.title-billbord strong {
    font-size: 25px;
}
.title-billbord {
    font-size: 22px;
    padding-top: 30px;
    line-height: 35px;
}
.billbord .btn-main {
	margin-top: 30px;
}
.slider-billbord .slick-next {
    left: 449px;
}
.slider-billbord .slick-dots {
    left: -127px;
}
.slider-catalog .item-catalog {
    margin: 15px 15px;
}
.slider-catalog {
    margin: 0 -15px;
}
.dealer-wrap {
    max-width: 359px;
}
.block-form__image img {
	max-width: 500px;
}
.block-form {
	padding-left: 42px;
	padding-right: 42px;
}
.slider-team .item-team {
	margin: 0 15px;
}
.slider-team {
	margin-left: -15px;
	margin-right: -15px;
}
.sidebar-nav {
    width: 305px;
    }
    .item-sertificat__image {
    height: 417px;
}
.tabs li a {
    width: 237px;
    }
}


@media only screen and (max-width : 1320px) {
.header {
	font-size: 13px;
}
.col_header {
	padding-right: 0;
}
.sidebar-nav {
    width: 290px;
    }
.sidebar-content li a {
    padding: 15px 30px;
}
.billbord .container {
    padding-left: 325px;
}
.slider-billbord .slick-next {
    left: 428px;
}
.slider-billbord::before {
    border-right: 145px solid transparent;
    }
    .row_billbord > div {
    margin-top: 38px;
}
.item-catalog {
	font-size: 16px;
}
.dealer-wrap {
    max-width: 334px;
}
.item-dealer__name {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
}
.block-form__image img {
    max-width: 419px;
}
.block-form__title {
	font-size: 15px;
}
.slider-reviews {
	max-width: 1050px;
}
.reviews .title-section br {
display: none;
}
.item-team__image {
    height: 295px;
    margin-bottom: 20px;
}
.item-team__name {
    font-size: 16px;
    line-height: 24px;
}
.item-team__descr {
	font-size: 14px;
}
.item-news {
    max-width: 365px;
}
.menu li a {
    padding: 20px 27px;
    }
    .sidebar-nav {
    width: 270px;
    }
    .about .title-middle {
        padding-top: 0;
    }
    .tab-container-about {
        padding-top: 40px;
    }
    .item-sertificat__image {
    height: 369px;
}
.item-employee__image {
    height: 290px;
    }
    .item-service__image {
        height: 210px;
    }
    .tabs li a {
    width: 212px;
}
.row_category .item-catalog__name {
    padding: 0;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.col_header {
    display: none;
}
.title-billbord {
    font-size: 17px;
    padding-top: 10px;
    line-height: 35px;
    width: 435px;
}
.title-billbord strong {
    font-size: 18px;
}
.billbord__text {
    font-size: 14px;
    padding-top: 14px;
    line-height: 22px;
    }
    .slider-billbord .slick-next {
    left: 328px;
}
.slider-billbord .slick-dots {
    left: -192px;
}
body {
    font-size: 14px;
}
.title-section {
    font-size: 24px;
    line-height: 39px;
    }
    .title-dealer {
    font-size: 14px;
    line-height: 20px;
}
.item-dealer__icon {
    margin-bottom: 19px;
}
.item-dealer {
    margin-top: 35px;
}
.col_dealer::before {
    left: 0;
}
.get-counsult .block-form {
    padding-left: 20px;
    padding-right: 20px;
}
.block-form__image {
    top: 97px;
    margin-right: -123px;
    }
    .checkbox-wrap .checkbox {
    white-space: normal;
}
.slider-news {
    margin: 0 -15px;
}
.slider-news .item-news {
    margin: 0 15px !important;
}
.article__image {
    height: 280px;
}
.table-page thead td {
    font-size: 16px;
}
.contacts .block-form {
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar-nav {
    width: 212px;
}
.btn-sidebar .sandwich {
    margin-right: 10px;
}
.btn-sidebar {
    font-size: 12px;
}
.menu li a {
    padding: 20px 15px;
}
.item-product__name {
    font-size: 15px;
    line-height: 21px;
}
.item-product__price {
    font-size: 19px;
}
.billbord .container {
    padding-left: 255px;
}
.tabs li a {
    font-size: 16px;
    width: 200px;
    }
    .tables-wrap .table-feature:first-child {
        width: 45%;
    }
     .tables-wrap .table-feature:last-child {
        width: 55%;
    }
    .table-feature table td {
    padding: 11px 14px;
}
.recomendation {
    padding-bottom: 50px;
}
.item-partner {
    height: 110px;
    }
    .wrap-item-partner {
        padding: 0 5px;
    }
    .wrapper-partners {
        margin: 0 -5px;
    }
    .tabs-about li a {
    width: 190px;
}
.item-sertificat__image {
    height: 284px;
    margin-bottom: 15px;
}
.tab-container-about .block-form {
   padding: 25px 20px;
}
.item-employee__image {
    height: 250px;
}
.item-employee__name {
    font-size: 16px;
}
.page-service .block-form,
.services .block-form {
    padding: 25px 15px;
}
.tabs li a {
    width: 153px;
    font-size: 14px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

.header__right {
    display: none;
}
.billbord .container {
    padding-left: 15px;
}


.billbord {
    padding-bottom: 30px;
    min-height: auto;
}
.col_pl {
    padding-left: 15px;
}
.billbord .btn-main {
    margin-top: 15px;
}
.col_dealer {
    margin-top: 30px;
    align-items: center;
}
.col_dealer::before {
    display: none;
}
.item-dealer__name {
    font-size: 14px;
    }
    .dealer {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .slider-billbord__item {
    height: 370px;
}
.slider-billbord::before {
    border-right: 90px solid transparent;
        border-top: 357px solid #fff;
}
.dealer-wrap,
.slider-dealer {
    max-width: 100%;
}
.slider-dealer .slick-arrow {
    transform: rotate(-90deg);
    top: 30px;
    bottom: auto;
    margin: 0;
}
.slider-dealer__item {
    margin-left: 10px;
    margin-right: 10px;
}
.slider-dealer .slick-prev {
    left: -30px;
}
.slider-dealer .slick-next {
    right: -30px;
    left: auto;
}
.slider-dealer {
    margin-top: 25px;
}
.title-dealer {
    font-size: 16px;
    line-height: 25px;
}
.get-counsult .block-form {
    padding-left: 45px;
    padding-right: 45px;
    margin: 0 auto;
}
.get-counsult .title-section {
    padding: 35px 0;
    max-width: 100%;
}
.block-form__image {
    display: none;
}
.get-counsult {
    padding-bottom: 35px;
}
.team {
    padding-bottom: 50px;
}
.nav-footer li {
    margin-bottom: 15px;
}
.footer__left .nav-footer li {
    max-width: 100%;
}
.btn-menu {
    display: flex;
    background-color: transparent;
}
.header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-descr {
    display: none;
}
.logo img {
    width: 80px;
}
.menu,
.sidebar-nav {
    display: none;
}
.sidebar-nav,
.menu {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    width: 100%;
    padding-bottom: 70px;
        background-color: #d8eee5;
}
.sidebar-content li a,
.menu li a {
    padding: 12px 15px;
    display: block;
    border-bottom: 1px solid #062d1d;
}
.sidebar-content li a {
    border-color: #fff;
}
.menu ul {
    padding: 0 15px;
    position: relative;
    top: 0;
    margin: 0;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    display: none;
    transition: none;
}
.menu ul li a {
    display: block;
}
.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.wrapper {
    padding-top: 79px;
}
.sidebar-nav .btn-sidebar {
    display: none;
}
.sidebar-content {
    top: 0;
    min-height: auto;
    position: relative;
}
.sidebar-content ul {
    padding: 20px 15px;
    padding-top: 0;
    }
    .sidebar-content li {
        margin: 0;
    }
    .btn-menu_catalog .btn-sidebar__text {
        padding-left: 7px;
    }
    .btn-menu_menu .btn-sidebar__text {
        padding-right: 7px;
    }
    .articles .title-section {
    padding-bottom: 20px;
}
.row_articles > div {
    margin-bottom: 25px;
}
.sidebar_articles {
    padding-top: 20px;
}
.contacts .block-form {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
}
.contacts {
    padding-bottom: 40px;
}
#map {
    height: 400px;
}
.catalog-page {
    padding-bottom: 60px;
}
.menu li a {
    height: auto;
    text-align: left;
}
.menu ul {
    padding: 0;
    background-color: transparent;
}
.menu li:hover a {
    background-color: transparent;
     color: #062d1d;
}
.menu ul li a:hover,
.menu li a:hover {
    color: #fff;
    background-color: #3AA97C;
}
.menu ul li a {
    padding: 15px 20px;
        color: #062d1d;
}
.sidebar-content ul ul {
    position: relative;
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: none;
    border: none;
    width: 100%;
    display: none;
}
.sidebar-content a i {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.sidebar-content ul {
    padding: 0;
}
.catalog-page,
.card {
    min-height: auto;
}
.about .title-section {
    padding-bottom: 20px;
}
.tabs-about li a {
    width: 100%;
}
.tabs-about li {
    flex: 1;
}
.about .item-dealer {
    margin-bottom: 20px;
}
.about__image {
    margin-bottom: 30px;
}
.item-partner {
    height: 90px;
}
.about {
    padding-bottom: 55px;
}
.about .title-middle {
    padding-bottom: 20px;
}
.item-sertificat {
    max-width: 206px;
    margin-top: 0;
    margin-bottom: 25px;
}
.slider-exhibition {
    margin-bottom: 30px;
}
.page-service .block-form,
.services .block-form,
.tab-container-about .block-form {
    padding: 45px 40px;
}

.image-exhibition {
    height: 380px;
}
.header-wrap_page .sidebar-content {
    display: block;
}
.tabs li a {
    width: 157px;
    }
    .title-middle_partners {
        padding-right: 117px;
    }
    .content-sidebar-article {
        position: relative;
        top: 0;
    }
    .services .block-form {
        top: 0;
        margin-top: 0;
    }
    .wrapper {
        overflow: hidden;
    }
    .nav_hidden {
        display: none !important;
    }
    .header {
        position: relative;
    }
    .page-service .block-form {
        margin-top: 0;
    }
    .page-service .title-section {
        padding-bottom: 30px;
    }
    .row_finance > div {
    margin-top: 25px;
}
.finance {
    padding-bottom: 60px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.slider-billbord .slick-next {
    left: auto;
    right: 23px;
}
.slider-billbord .slick-dots {
    left: 0;
}
.slider-billbord {
    width: 100%;
    margin: 0;
    margin-top: 25px;
}
.title-billbord {
    font-size: 19px;
    padding-top: 15px;
    line-height: 35px;
    width: 100%;
}
.title-billbord strong {
    font-size: 21px;
}
.slider-billbord::before {
    display: none;
}
.slider-billbord__item {
    height: 288px;
}

.logo-descr {
    font-size: 11px;
    line-height: 18px;
    margin-left: 11px;
    max-width: 142px;
}
.item-catalog {
    font-size: 14px;
    min-height: 240px;
}
.item-catalog__image {
    height: 165px;
}
.title-section_center {
    padding: 25px 0;
    }
    .catalog .title-section {
    padding-bottom: 5px;
}
.row_billbord > div {
    margin-top: 25px;
}
.slider-billbord .slick-dots {
    bottom: 10px;
}
.title-section br {
    display: none;
}
.title-section {
    font-size: 20px;
    line-height: 36px;
}
.checkbox {
    margin-top: 15px;
}
.get-counsult .block-form::before {
    display: none;
}
.get-counsult .block-form {
    padding: 30px 45px;
}
.block-form__title {
    font-size: 16px;
}
.item-dealer {
    margin-top: 15px;
}
.item-dealer__name {
    margin-bottom: 10px;
}
.slider-reviews {
    padding: 30px 20px;
}
.slider-reviews__name {
    font-size: 14px;
    line-height: 21px;
    }
    .slider-reviews__descr {
        font-size: 12px;
    }
    .slider-reviews__logo {
    margin-right: 11px;
}
.slider-reviews__head {
    display: block;
    margin-bottom: 20px;
}
.slider-reviews__left {
    margin-bottom: 20px;
}
.item-team__image {
    height: 225px;
    margin-bottom: 10px;
}
.slider-team .item-team {
    margin: 0 5px;
}
.slider-team {
    margin: 0 -5px;
}
.item-team__name {
    font-size: 14px;
    line-height: 22px;
}
.item-team__descr {
    font-size: 12px;
}
.team {
    padding-bottom: 30px;
}
.team .title-section {
    padding: 25px 0;
    }
    .footer__bottom .row > div {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .footer__content {
        padding-top: 15px;
        display: none;
    }
    .title-footer {
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px #3aa97c solid;
        min-height: auto;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s;
    }
    .title-footer i {
        transition: all 0.3s;
    }
    .title-footer.active i {
        transform: rotate(45deg);
    }
    .hidden_mob {
        display: none;
    }
    .footer__bottom {
        border: none;
        padding-top: 0;
    }
    .news {
        padding-bottom: 40px;
    }
    .item-news__text {
        margin-bottom: 12px;    
    }
    .item-news__name {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 8px;
}
.item-news__image {
    height: 185px;
    margin-bottom: 14px;
}
.slider-news .item-news {
    margin: 0 5px !important;
}
.slider-news {
    margin: 0 -5px;
}
.head-page {
    padding-bottom: 20px;
}
.slider-catalog .slick-dots,
.slider-team .slick-dots,
.slider-news .slick-dots {
    bottom: 0;
}
.slider-team,
.slider-news {
    padding-bottom: 30px;
}
.get-counsult .title-section {
    padding-bottom: 20px;
}
.catalog {
    padding-bottom: 20px;
}
.slider-catalog .item-catalog {
    margin: 15px 5px;
}
.slider-catalog {
    margin: 0 -5px;
    padding-bottom: 20px;
}
.catalog {
    padding-bottom: 30px;
}
.title-footer i {
    display: inline-block;
}
.item-article {
    padding: 10px;
    padding-bottom: 20px;
    }
    .item-article__image {
    height: 175px;
    margin-bottom: 15px;
}
.item-article__name {
    font-size: 15px;
    line-height: 24px;
    padding-right: 0;
    }
    .item-article__text {
        line-height: 21px;
        margin-bottom: 15px;
    }
    .pagination {
        margin-top: 15px;
    }
    .articles {
    padding-bottom: 50px;
}
.title-middle {
    font-size: 17px;
}
.title-small {
    font-size: 16px;
    }
    .article .title-small {
        padding-top: 0;
    }
    .article__image {
        height: 250px;
        margin-bottom: 20px;
    }
    .sidebar_articles .item-article {
        max-width: 100%;
    }
    .title-footer {
        font-size: 14px;    
    }
    .nav-footer_page li a {
        font-size: 14px;    
    }
    .nav-footer_page {
        padding-top: 0; 
        max-width: 100%;    
    }
    .contacts .title-small {
    padding-top: 19px;
    padding-bottom: 13px;
}
.contacts .title-section {
    padding-bottom: 15px;
}
.more-wrap {
    padding-top: 30px;
}
.catalog-page {
    padding-bottom: 40px;
}
.col_pr {
    padding-right: 15px;
}
.tabs li a {
    width: 100%;
    font-size: 14px;
}
.tabs li {
    flex: 1;
}
.tables-wrap .table-feature {
    width: 100% !important;
}
.tables-wrap {
    display: block;
}
.card .tab-container {
    margin-bottom: 40px;
}
.card-right {
    padding-top: 0;
    text-align: left;
}
.card .title-section {
    padding-bottom: 15px;
}
.recomendation .title-section {
    padding-bottom: 0;
}
.card__info {
    padding-left: 15px;
}
.table-feature table td:last-child {
    border-right: none;
}
.tabs-about li a {
    font-size: 12px;
}
.tabs-about {
    margin: 0 -5px;
}
.tabs-about li {
    padding: 0 5px;
}
.wrap-item-partner {
    width: 24.5%;
    padding: 5px;
    }
    .tab-container-about {
        padding-top: 30px;
    }
    .about .item-dealer__name {
    font-size: 14px;
}
.tab-container-about .location-text {
    margin-bottom: 20px;
}
.image-exhibition {
    height: 283px;
}
.row_employee > div {
    margin-top: 25px;
}
.services .descr-title {
    padding-bottom: 23px;
}
.descr-title {
    padding-top: 15px;
}
.row_services > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.row_services {
    margin: 0 -5px;
}
.item-service {
    padding: 13px;
    padding-bottom: 20px;
    }
    .item-service__name {
        font-size: 15px;
    }
    .item-service__image {
    height: 193px;
    margin-bottom: 20px;
}
.services .block-form {
    margin-top: 25px;
}
.tab-container {
    border-top-right-radius: 0px;
}
.tab-container {
    min-height: auto;
}
.row_docs {
    padding-bottom: 30px;
}
.about .title-middle_partners {
    padding-bottom: 0;
}
.wrapper-partners .slick-arrow {
    top: -41px;
}
.arrows_right .slick-arrow {
    right: 0;
}
.arrows_right .slick-prev {
    right: 58px;
}
.row_category .item-catalog__image {
    height: 155px;
}
.row_category > div {
    margin-top: 10px;
    padding: 0 5px;
}
.row_category {
    margin: 0 -5px;
}
.row_category .item-catalog {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}
.category {
    padding-bottom: 40px;
}
.page-service .title-section {
    padding-bottom: 15px;
}
.page-service .title-middle {
    padding-top: 23px;
}
.finance {
    padding-bottom: 40px;
}
}
@media (max-width: 576px) {
    .item-article {
        max-width: 400px;
        margin: 0 auto;
    }
    .articles .title-section {
        text-align: center;
    }
    .item-article__name {
        margin-bottom: 10px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.title-billbord {
    font-size: 14px;
    padding-top: 13px;
    line-height: 31px;
}
.title-billbord strong {
    font-size: 14px;
}
.billbord__text {
    font-size: 13px;
    padding-top: 10px;
    line-height: 22px;
}
.btn-main {
    font-size: 14px;
}
.slider-billbord {
    margin: 0 -15px;
    margin-top: 25px;
    width: initial;
}
.slider-billbord__item {
    height: 235px;
}
.row_billbord {
    display: none;
}
.billbord {
    padding-bottom: 0;
}
.item-catalog {
    font-size: 11px;
    line-height: 17px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 229px;
}
.item-catalog__image {
    height: 150px;
    padding: 3px;
}
.title-section {
    font-size: 16px;
    line-height: 29px;
}
.item-dealer__name {
    margin-bottom: 4px;
}
.slider-dealer__item {
    margin: 0 5px;
    margin-bottom: 12px;
}
.slider-dealer .slick-dots {
    bottom: 0;
}
.slider-dealer {
    padding-bottom: 20px;
}
.dealer {
    padding-top: 32px;
    padding-bottom: 15px;
}
.get-counsult .block-form {
    padding: 30px 15px;
}
.block-form__title {
    font-size: 14px;
    padding-bottom: 15px;
}
.slider-reviews__logo img {
    max-width: 70px;
}
.reviews {
    padding-bottom: 75px;
}
.item-team__image {
    height: 165px;
}
.item-news__image {
    height: 143px;
    }
    .item-news__date {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .item-news__name {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 8px;
}
.item-news__text {
    font-size: 12px;
}
.link-page {
    font-size: 13px;
}
.head-page {
    display: block;
}
.head-page .link-page {
    margin-top: 10px;
}
.btn-menu {
    font-size: 13px;
}
.billbord .btn-main {
    font-size: 13px;
    height: 45px;
    padding: 0 17px;
}
.breadcumbs {
    padding-top: 17px;
    padding-bottom: 15px;
    }
    .article .title-middle {
    padding-bottom: 13px;
}
.title-middle {
    font-size: 16px;
}
.article .title-small {
    padding-bottom: 15px;
}
.title-small {
    font-size: 14px;
}
.list-arrows ul {
    columns: 1;
}
.article .list-arrows li {
    max-width: 100%;
}
.article p, .article .list-arrows li {
    margin-bottom: 15px;
}
.table-page thead td {
    font-size: 14px;
}
.table-page td {
    padding: 15px 10px;
}
.table-page {
    font-size: 13px;
}
.article {
    padding-top: 20px;
    padding-bottom: 40px;
}
.contacts .title-small {
    padding-bottom: 10px;
}
.contacts .block-form {
    padding: 20px;
}
.article__image {
    height: 215px;
}
.row_products > div {
    margin-top: 10px;
    padding: 0 5px;
}
.row_products {
    margin: 0 -5px;
}
.item-product__name {
    font-size: 14px;
    line-height: 19px;
    padding: 12px 0;
    margin-bottom: 15px;
}
.item-product__price {
    font-size: 16px;
}
.item-product__image {
    height: 105px;
    margin-bottom: 10px;
    }
    .more-wrap {
        padding-top: 20px;
    }
    .slider-for__item {
    padding: 15px;
    height: 275px;
}
.slider-nav__item {
    margin: 9px 4px;
    height: 80px;
}
.slider-nav {
    margin: 0 -4px;
    margin-top: 5px;
}
.feature-card__value {
    font-size: 16px;
    }
    .feature-card__price {
        font-size: 21px;
        padding: 0;
    }
    .card__info {
        padding-top: 15px;
    }
    .tabs li a {
        font-size: 12px;
        height: 52px;
    line-height: 16px;
    }
    .item-product__image {
    height: 125px;
}
.slider-products .item-product {
    min-height: 282px;
}
.table-feature table td {
    padding: 9px 12px;
}
.table-feature table {
    font-size: 13px;
}
.tabs-about li {
    flex: inherit;
    width: 50%;
    margin-bottom: 10px;
}
.tabs-about {
    flex-wrap: wrap;
}
.tabs-about li a {
    font-size: 13px;
}
.item-partner {
    height: 80px;
}
.about {
    padding-bottom: 30px;
}
.item-sertificat__image {
    height: 187px;
    margin-bottom: 15px;
    padding: 10px;
}
.item-sertificat {
    max-width: 130px;
    margin-bottom: 15px;
}
.item-sertificat__name {
    font-size: 12px;
}
.image-exhibition {
    height: auto;
}
.image-exhibition img {
    width: inherit;
    object-fit: inherit;
    font-family: inherit;
    height: auto;
    max-width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.page-service .block-form,
.services .block-form,
.tab-container-about .block-form {
    padding: 25px 20px;
}
.row_employee > div {
    padding: 0 5px;
}
.row_employee {
    margin: 0 -5px;
}
.item-employee__image {
    height: 195px;
        background-size: 40px auto;
    margin-bottom: 15px;
}
.item-employee__name {
    font-size: 14px;
        margin-bottom: 9px;
}
.item-employee__position {
    font-size: 12px;
}
.item-service__image {
    height: 133px;
    margin-bottom: 13px;
}
.item-service__name {
    font-size: 13px;
}
.item-service {
    padding: 8px;
    padding-bottom: 13px;
}
.about .title-middle_partners {
    padding-right: 0;
    padding-bottom: 60px;
}
.item-catalog__name span {
    display: inline-block;
}
.row_category .item-catalog__image {
    height: 130px;
}
.row_category .item-catalog {
    font-size: 11px;
}
.page-service .title-middle {
    padding-bottom: 15px;
}
.page-service p, .page-service .list-arrows li {
    margin-bottom: 15px;
}
.page-service {
    padding-top: 20px;
}
.item-finance__name {
    font-size: 16px;
    padding-bottom: 14px;
}
.item-finance__bottom {
    padding-top: 15px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.show_mob {
    display: none;
}
.footer__content {
    display: block !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.menu {
    display: flex !important;
    height: auto !important;
}
.sidebar-nav {
    display: block !important;
    height: auto !important;
}
.fixed .logo img {
    width: 104px;
}
}
@media only screen and (min-width : 1320px) {
.container {
    max-width: 1300px;
}
}
@media only screen and (min-width : 1480px) {
.container {
    max-width: 1460px;
}
.col_header {
    left: 50px;
}
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1565px) {
	.container {
    max-width: 1520px;
}
.item-sertificat__image {
    height: 491px;
    }
}
@media (min-width: 1600px) {
	.container {
    max-width: 1520px;
}
.tabs li a {
    width: 279px;
    }
}

@media only screen and (min-width : 1869px) {
.slider-billbord {
    margin-left: 0;
}
}